@import "../../styles/mixin.scss";

.container {
  @include flex(row, flex-start, center);
  height: 80px;
  box-shadow: var(--box-shadow);
  padding: 0px 40px;
  background-color: var(--background);
  .title {
    @include font(18px, 700, normal, 22px, var(--text));
  }
}
