@import "../../styles/mixin.scss";

.friend {
  @include flex(column, center, flex-start, 12px);
  padding: 32px 30px;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 19%);
  background-color: var(--background);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  .name {
    @include flex(row, center, center, 10px);
    p {
      @include font(16px, 700, normal, 19px, var(--text));
    }
    .friends {
      display: none;
    }
    @media screen and (max-width: 350px) {
      @include flex(column, flex-start, flex-start, 10px);
    }
    .close-friends {
      @include font(12px, 600, normal, 15px, var(--primary));
      background-color: var(--primary-light);
      padding: 3px 7px;
      border-radius: 21px;
      transition: background-color 0.3s ease;
    }
    .super-close-friends {
      @include font(12px, 600, normal, 15px, var(--positive));
      background-color: var(--positive-light);
      padding: 3px 7px;
      border-radius: 21px;
      transition: background-color 0.3s ease;
    }
  }
  .contact {
    @include font(14px, 500, normal, 17px, var(--contact));
  }
}
