@import "../../../styles/mixin";

.friends {
  @include flex(column, flex-start, center, 15px);
  width: 100%;
  max-width: 1050px;
  padding: 10px;
  .last-page {
    @include font(20px, 400, normal, 17px, var(--text));
    margin-top: 10px;
  }
  .loading {
  }
  .more {
    @include font(20px, 400, normal, 17px, var(--text));
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
