@import "../../styles/mixin.scss";

.container {
  @include flex(column, flex-start, flex-start, 20px);
  width: 250px;
  min-height: 100vh;;
  background-color: #091928;
  padding: 30px 15px;
}

.logo-container {
  @include flex(row, flex-start, center, 11px);
  margin: 0 10px;
  .name {
    @include font(16px, 600, normal, 19px, var(--white));
  }
}

.menu {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  .item {
    @include flex(row, flex-start, center, 7px);
    @include font(16px, 500, normal, 16px, var(--white));
    height: 40px;
    width: 220px;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #424242;
    }
  }
}
