$white: #ffffff;
$black: #000000;


$gray50: #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;
$gray1000: #151515;


$primary: #3399ff;
$primary-light: #dfefff;
$positive: #19b444;
$positive-light: #dcffe6;
