@import "variables";

:root {
  --white: #{$white};
  --text: #{$black};
  --background: #{$white};
  --contact: #{$gray600};
  --border: #{$gray400};
  --primary: #{$primary};
  --primary-light: #{$primary-light};
  --positive: #{$positive};
  --positive-light: #{$positive-light};
  --box-shadow: 0px 4px 4px rgba(112, 112, 112, 0.1);
  --text-disabled: #{$gray400};
  --filter-text: #{$gray800};
  --filter-form: #{$gray900};
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --white: #{$white};
    --text: #{$white};
    --background: #{$gray900};
    --contact: #{$gray600};
    --border: #{$gray400};
    --primary: #{$primary};
    --primary-light: #{$primary-light};
    --positive: #{$positive};
    --positive-light: #{$positive-light};
    --box-shadow: 0px 4px 4px rgba(59, 59, 59, 0.1);
    --text-disabled: #{$gray400};
    --filter-text: #{$white};
    --filter-form: #{$gray200};
  }
}
